---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('ebooks');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'ebooks'>;

const post = Astro.props;
const { Content } = await render(post);
---

<BlogPost {...post.data}>
    {post.data.downloadLink && (
        <a href={post.data.downloadLink} target="_blank" class="not-prose inline-block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 px-6 rounded-xl mb-8 transition-colors">
            Download eBook
        </a>
    )}
	<Content />
</BlogPost>
